<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-jetbeep-plugins-sdk" version="0.0.35" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>JetBeepSDKPlugin</name>
    <js-module name="JetBeepSDKPlugin" src="www/JetBeepSDKPlugin.js">
        <clobbers target="jetbeepsdkplugin" />
    </js-module>
    <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
    <platform name="android">
        <framework src="com.jetbeep:jetbeepsdk:1.11.10" />
        <framework src="org.jetbrains.kotlinx:kotlinx-coroutines-core:1.6.4" />
        <config-file target="config.xml" parent="/*">
            <preference name="android-minSdkVersion" value="24" />
            <preference name="android-compileSdkVersion" value="32" />
            <preference name="android-targetSdkVersion" value="32" />
            <feature name="JetBeepSDKPlugin">
                <param name="android-package"
                       value="com.jetbeepsdk.plugin.JetBeepSDKPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.BLUETOOTH"  />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />-->
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"
                             android:maxSdkVersion="28"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
                             android:maxSdkVersion="30"/>
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
                             android:usesPermissionFlags="neverForLocation" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
            <!--<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
                             android:maxSdkVersion="30" />-->
        </config-file>
        <source-file
                src="src/android/com/jetbeepsdk/plugin/JetBeepSDKPlugin.java"
                target-dir="src/com/jetbeepsdk/plugin" />
    </platform>
     
<platform name="ios">
    <config-file target="config.xml" parent="/*">
    <feature name="JetBeepSDKPlugin">
      <param name="ios-package" value="JetBeepSDKPlugin" />
      <param name="onload" value="true" />
    </feature>
  </config-file>
   <podspec>
        <config>
            <source url="https://github.com/CocoaPods/Specs.git"/>
        </config>
        <pods use-frameworks="true">
        <pod name="JetBeepFramework" version="1.0.125" />
        </pods>
    </podspec>
  <source-file src="src/ios/JetBeepSDKPlugin.swift" />

  <config-file target="*-Info.plist" parent="UIBackgroundModes">
			<array>
				<string>bluetooth-central</string>
                <string>bluetooth-peripheral</string>
			</array>
		</config-file>

        <preference name="BLUETOOTH_USAGE_DESCRIPTION" default="Please provide an access to iPhone bluetooth." />
        <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
            <string>$BLUETOOTH_USAGE_DESCRIPTION</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSBluetoothAlwaysUsageDescription">
            <string>$BLUETOOTH_USAGE_DESCRIPTION</string>
        </config-file>


<!-- frameworks -->
<framework src="CoreBluetooth.framework" />

</platform>
</plugin>
